In [1]:
import pandas as pd

In [2]:
df = pd.read_excel('resultado_quantil.xlsx', sheet_name='classificações')

In [3]:
df = df[df.alternativa == 'Alternativa 2']

In [4]:
df

     alternativa  c1 limiar  cred(x,b)  cred(b,x) otimista  lambda
0  Alternativa 2  c2     b1   1.000000          1    x I b     0.5
1  Alternativa 2  c3     b2   0.667774          1    x > b     0.5
2  Alternativa 2  c4     b3   0.000000          1    x I b     0.5

In [5]:
cla = df[df['otimista'].isin(['x I b', 'x > b'])]

In [6]:
cla

     alternativa  c1 limiar  cred(x,b)  cred(b,x) otimista  lambda
0  Alternativa 2  c2     b1   1.000000          1    x I b     0.5
1  Alternativa 2  c3     b2   0.667774          1    x > b     0.5
2  Alternativa 2  c4     b3   0.000000          1    x I b     0.5

In [6]:
cla.drop_duplicates(subset=['alternativa'], keep='last')

     alternativa  c1 limiar  cred(x,b)  cred(b,x) otimista  lambda
2  Alternativa 2  c4     b3        0.0          1    x I b     0.5

In [7]:
index = 2

In [8]:
qtde_classes = df.shape[0] + 1

In [9]:
qtde_classes

4

In [10]:
numero_da_classe = 'Classe ' + str(qtde_classes - (index + 1))

In [11]:
numero_da_classe

'Classe 1'

In [12]:
# TODO: retornar um df no seguinte formato:
pd.DataFrame([
    ('Alternativa 2', 'Classe 2', 'Classe 3'),
    ('Alternativa 3', 'Classe X', 'Classe Y'),
], columns=['Alternativa', 'Otimista', 'Pessimista'])

     Alternativa  Otimista Pessimista
0  Alternativa 2  Classe 2   Classe 3
1  Alternativa 3  Classe X   Classe Y